<div class="mainPage">
	<div class="homePage">
		<div class="homeHeader">
			<div class="hh_icon"><img src="images/home/logo_50.png" draggable="false"></div>
	        <a ng-href="/#/home" class="hh_btn hh_btn_active" ng-class="{'hh_btn_active':state.current.name=='home'}">Home</a>
	        <a ng-href="/#/folio" class="hh_btn" ng-class="{'hh_btn_active':state.current.name=='folio'}">Folio</a>
	        <a ng-href="/#/pricing" class="hh_btn" ng-class="{'hh_btn_active':state.current.name=='pricing'}">Pricing</a> 
		</div>
		<div class="homeMid">
			<div class="boxx">
				<div class="hm_half">
					<div class="hmh_head">We Got What You Need</div>
					<div class="hmh_cont">If you looking forward for a successful business career or you are startup, You are at the right place.Try our awesome beginner packages that will give complete freedom to web and your inventory. Our web packages are also economic.</div>
					<a ng-href="/#/pricing"  class="hmh_btns">Get Started</a>
				</div>
				<div class="hm_half">
					<img  draggable="false" src="images/home/lap.png">
				</div>
			</div>
		</div>
	</div>
	<div class="homeSec_cream">
		<div class="boxx"> 
			<div class="hs_head">Smart Algorithms</div>
			<div class="hs_cont">
				<div class="hsc_img"><img draggable="false" src="images/home/hm_1.jpg"></div>
				<div class="hsc_desc">
					<div class="hscd_img"><img draggable="false" src="images/home/c.jpg"></div>
					<div class="hscd_head">Context</div>
					<div class="hscd_cont">Man Add some nice content so users will be attracted to your work and so you can make more money and handle your problems
					</br>
					</br>
					Dont worry asshole you got a great grip in this field, why you are searching for the members of league of shadows while you are the Ras al gul. 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="homeSec_white">
		<div class="boxx">  
			<div class="hs_cont">
				<div class="hsc_desc">
					<div class="hscd_img"><img draggable="false" src="images/home/b.jpg"></div>
					<div class="hscd_head">Behaviour</div>
					<div class="hscd_cont">Man Add some nice content so users will be attracted to your work and so you can make more money and handle your problems
					</br>
					</br>
					Dont worry asshole you got a great grip in this field, why you are searching for the members of league of shadows while you are the Ras al gul. 
					</div>
				</div>
				<div class="hsc_img"><img draggable="false" src="images/home/hm_2.jpg"></div>
			</div>
		</div>
	</div>
	<div class="homeSec_cream">
		<div class="boxx">  
			<div class="hs_cont">
				<div class="hsc_img"><img draggable="false" src="images/home/hm_3.jpg"></div>
				<div class="hsc_desc">
					<div class="hscd_img"><img draggable="false" src="images/home/c.jpg"></div>
					<div class="hscd_head">Content</div>
					<div class="hscd_cont">Man Add some nice content so users will be attracted to your work and so you can make more money and handle your problems
					</br>
					</br>
					Dont worry asshole you got a great grip in this field, why you are searching for the members of league of shadows while you are the Ras al gul. 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>